API_ID=29308061
API_HASH=462de3dfc98fd938ef9c6ee31a72d099
BOT_TOKEN=8698700401:AAF_J2Lp4AjzqFR3QeY6yC2xDfctKP78lU4
LOGGER_ID=-1002547223008
MONGO_DB_URI=mongodb+srv://Kushal2026BotSecure:Kushal2026BotSecure@cluster0.5a6zwnj.mongodb.net/?appName=Cluster0
OWNER_ID=6632236983
STRING_SESSION=BQE1hZwAayC6iEvE-kFm-vUJSEFaJi4gU1dV-WqDklkRg7ItbiwuefuRrIaZY4XY4jYYoJNdzyzKVRXM6WdW5xKYnyc3nyjiq9NK18lsbkgdme2BaYp2cMb88YHKqr89aaY2ioAXOalFjAbxjmJkRoKDWyl_1O72n7_bAyvSqwXtC6jcK9V2LN46SzUtL_b_1ZZ01WI7P3lvjPk55g7EByOq-g0t0OGkAJYOkYW0QPQr_lAvy6e_I2pWjS_ewqVdFW7uZeonZ9w_WkCDnpnhn2QlWrc7MTzZpBrTz1CPcpzDol3F-kl4M31uGTNRZJ1SlzfKlaAWbqDq9WkmXNLr9aQIE0aa8AAAAAHTR-i_AA
