API_ID=29308061
API_HASH=462de3dfc98fd938ef9c6ee31a72d099
BOT_TOKEN=8734954012:AAGQdCAZKJvfueCiEeK0Wffp9nf2b0vxk8Y
LOGGER_ID=
MONGO_DB_URI=mongodb+srv.//Elevenyts: Elevenyts@cluster0.vuyc1u2 mongodb.net/?retryWrites=true&w= majority SappName Cluster0
OWNER_ID=6632236983
STRING_SESSION=BQE1hZwAAeWr9ekPCKwIUrzMfkiXo2Ksl0Vg7a4Sa9hSi0TJzg-H1xySxBNH4RiPjxyjsmVvmEgNTsVha82maen6mlNS1K9VLpmQuGHSP6iufA_-Q_T0IMOXwjijfxRbiuxo8eA7PE2E4rLahZJblfyHMOEL47j_eh2aM6Pin4a7c2ZIjxm3l0Sx9wm53M8B5or9ax35e2vJ6VxhaUVqr1x6gqniSwPBSwD-s2X9cylbYP7U7J-nrTiqas9rdFdqriEviuDzPD5CAsZaJPqzsK-5dy_mq0aZrFK2F1W6cp92ULFHN1qu5r83zCNdtPQ6FLcF9nGQ-EZAmztrrl26_CXRHjV_sAAAAAHTR-i_AA
